@use '../global' as g;

/*********************************
    お問い合わせ
*********************************/

/* 入力 */
.form-content{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 40px;
}

.form-area{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.form-unit{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form-unit__header{
    display: flex;
    align-items: center;
    gap: 10px;
}

.form-unit__heading{
    line-height: g.$line-height_s;
    font-weight: g.$font-weight_m;
}

.form-unit__required{
    color: g.$s-color_status_alert;
    font-size: g.$font-size_xs;
}

.form-unit__body{
    display: flex;
    gap: 10px;
}

.form-unit__footer{
}

.form-unit__error{
    color: g.$s-color_status_alert;
    font-size: g.$font-size_s;
    line-height: g.$line-height_s;
}

/* 確認 */
.confirm-checkbox{
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;   
    row-gap: 10px;
}