@use '../global' as g;

/*********************************
     WPチェックボックス
*********************************/

.wp_form-checkbox{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.wp_form-checkbox .wpcf7-list-item{
    margin: 0;
    line-height: g.$line-height_same;
}

.wp_form-checkbox > span > label{
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}

.wp_form-checkbox > span > label > input{
    width: 0;
    height: 0;
    
    &:focus + .form-checkbox__icon{
        outline: 2px solid g.$s-color_border_focused;
    }

    &:checked + .form-checkbox__icon{
        border-color: g.$p-color_blue_900;

        &::before{
            display: block;
        }
    }
}

.wp_form-checkbox .wpcf7-list-item-label{
    line-height: g.$line-height_s;
}