@use '../global' as g;

/*********************************
    WPサイドバー
*********************************/

.wp_sidebar-menu > li > a{
    color: g.$s-color_menu-link_normal;
    font-size: g.$font-size_l;
    line-height: g.$line-height_s;
    font-weight: g.$font-weight_m;
    text-decoration: none;
    transition: g.$transition_high;

    &:hover,&:active,&:focus{
        color: g.$s-color_menu-link_hover;
    }
}