@use '../global' as g;

/*********************************
     WPドロワー
*********************************/

/* drawer */
.drawer{
    position: absolute;
    top: g.$header-height_sp;
    right: 0;
    width: min(200px, 60vw);
    height: calc(100vh - g.$header-height_sp);
    padding: 20px 0;
    background-color: g.$p-color_opacity_white_095;
    border-top: 1px solid g.$p-color_grey_100;
    box-shadow: 0px 9px 8px 1px rgba(0, 0, 0, 0.10), 0px 5px 5px 0px rgba(0, 0, 0, 0.30);
    transform: translateX(100%);
    transform-origin: right;
    opacity: 0;
    visibility: hidden;

    &--active{
        opacity: 1;
        visibility: visible;
    }
}

.drawer > li > ul,
.drawer > li > ul > li > ul{
    position: absolute;
    top: -1px;
    left: 0px;
    width: min(200px, 60vw);
    height: calc(100vh - g.$header-height_sp);
    padding: 20px 0;
    background-color: g.$p-color_opacity_white_095;
    border-top: 1px solid g.$p-color_grey_100;
    border-left: 1px solid g.$p-color_grey_100;
    transform: translateX(100%);
    transform-origin: right;
    opacity: 0;
    visibility: hidden;
}

.drawer > li > ul{
    left: -1px;
}

.drawer > li > ul > li > ul{
    left: -2px;
}

.drawer > li,
.drawer > li > ul > li,
.drawer > li > ul > li > ul > li{
}

.drawer > li > a,
.drawer > li > ul > a,
.drawer > li > ul > li > a,
.drawer > li > ul > li > ul > a,
.drawer > li > ul > li > ul > li > a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 3rem;
    padding: 0 20px;
    gap: 10px;
    color: g.$s-color_menu-link_normal;
    font-size: g.$font-size_l;
    line-height: g.$line-height_s;
    text-decoration: none;
    transition: g.$transition_high;
    cursor: pointer;

    &:hover,&:active,&:focus{
        background-color: g.$p-color_opacity_black_005;
    }
}

.drawer i{
    color: g.$s-color_menu-link_normal;
    font-size: g.$font-size_l;
}

.drawer__child,
.drawer__grandchild{
    &--active{
        opacity: 1 !important;
        visibility: visible !important;
    }
}

/* drawer-overlay */
.drawer-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: g.$p-color_opacity_black_06;
    z-index: g.$z-index_drawer-overlay;
    opacity: 0;
    visibility: hidden;
    transition: opacity g.$transition_middle, visibility g.$transition_middle;

    &--active{
        opacity: 1;
        visibility: visible;
    }

    @include g.media(header-pc){
        display: none;
    }
}