@use '../global' as g;

/*********************************
    WPサイトマップ
*********************************/

.wp_sitemap{
    height: calc( ( (1rem * 1.4) + 20px ) * 8 );
    margin-bottom: -20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    line-height: g.$line-height_s;

    @include g.media(sp){
        height: auto;
        margin-bottom: 0;
    }
}

.wp_sitemap > li{
    width: 50%;

    &:nth-child(3){
        margin-bottom: calc( (1rem * 1.4) + 20px );
    }
    
    &:nth-child(4){
        margin-top: calc( (1rem * 1.4) + 20px );
    }

    @include g.media(sp){
        width: 100%;

        &:nth-child(3){
            margin-bottom: 0;
        }
        
        &:nth-child(4){
            margin-top: 0;
        }
    }
}

.wp_sitemap ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.wp_sitemap a:not([href]){
    display: inline-block;
    margin-bottom: 20px;
    color: g.$s-color_text_body;
    text-decoration: none;

    &:last-child{
        margin-bottom: 0;
    }
}