@use '../global' as g;

/*********************************
    WPブロックエディタ
*********************************/

.wp-block-table{
    
    & table{
        width: 100%;
        background-color: g.$p-color_white;
        border-spacing: 0;
        border-collapse: separate;
    }

    & tr{
        &:first-child>*{
            border-top: 1px solid g.$s-color_border_field;
        }
    }

    & tr td{
        padding: 5px 10px;
        border: none;
        border-right: 1px solid g.$s-color_border_field;
        border-bottom: 1px solid g.$s-color_border_field;
        vertical-align:middle;
    
        &:first-child{
            border-left: 1px solid g.$s-color_border_field;
        }
    }
    
    & tr td:first-child{
        background-color: g.$p-color_grey_50;
        width: 180px;

        @include g.media(sp){
            width: auto;
        }  
    }
}
