@use '../global' as g;

/*********************************
     WPラジオボタン
*********************************/

.form-radio{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.form-radio .wpcf7-list-item{
    margin: 0;
    line-height: g.$line-height_same;
}

.form-radio > span > label{
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}

.form-radio > span > label > input{
    width: 0;
    height: 0;

    &:focus + .form-radio__icon{
        outline: 2px solid g.$s-color_border_focused;
    }

    &:checked + .form-radio__icon{
        border-color: g.$p-color_blue_900;

        &::before{
            display: block;
        }
    }
}

.form-radio__icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border: 2px solid g.$p-color_grey_900;
    border-radius: 100px;

    &::before{
        display: none;
        content: "";
        width: 8px;
        height: 8px;
        background-color: g.$p-color_blue_900;
        border-radius: 100px;
    }
}

.form-radio .wpcf7-list-item-label{
    line-height: g.$line-height_s;
}
