@use '../global' as g;

/*********************************
    WPパンくずリスト
*********************************/

.breadcrumb{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    font-size: g.$font-size_xs;
    line-height: g.$line-height_s;
}

.breadcrumb > span > a{
    color: g.$s-color_menu-link_normal;
    text-decoration: none;
    transition: g.$transition_high;

    &:hover,&:active,&:focus{
        color: g.$s-color_menu-link_hover;
    }
}

.breadcrumb__partition{
    font-size: g.$font-size_xs;
    min-width: 0.5625rem;
}

.breadcrumb > span > span{
    color: g.$p-color_grey_500;
}