@use '../global' as g;

/*********************************
    コンテナ
*********************************/

.container{
    display: flex;
    justify-content: center;   
    width: 100%; 
    background-color: g.$s-color_background_primary;

    &--breadcrumb{
        .container__inner{
            padding: 20px 20px 0 20px;
        }
    }

    &--cta-area{
        .container__inner{
            padding: 0 20px 40px 20px;
        }
    }
}

.container__inner{
    display: flex;
    width: 100%;
    max-width: g.$content_width;
    padding: 20px 20px 40px 20px;
    gap: 40px;

    @include g.media(sp){
        flex-direction: column;
    }
}
