@use '../global' as g;

/*********************************
    コンテンツ
*********************************/

.content{
    display: flex;
    flex-direction: column;
    width: 100%; 
    gap: 40px;

    @include g.media(sp){
        order: 1;
    }
}

.content-box{
    display: flex;
    justify-content: center;   
    width: 100%; 
    background-color: g.$s-color_background_primary;
    border-radius: 4px;
    box-shadow: g.$elevation_style1;
}

.content-box__inner{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1000px;
    padding: 40px;
    gap: 40px;

    @include g.media(sp){
        padding: 40px 20px;
    }
}

.content-box__header{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.content-box__header-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center ;
}

.content-box__header-category{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.content-box__header-date{
    font-size: g.$font-size_s;
    line-height: g.$line-height_s;
    white-space: nowrap;
}

.content-box__body{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.content-box__footer{
    display: flex;
    justify-content: center;
}