@use '../global' as g;

/*********************************
    ドロップダウン
*********************************/

.dropdown{
    display: flex;
    height: 100%;
}

.dropdown__item,.dropdown__child-item{
    position: relative;
}

.dropdown__link,.dropdown__child-link,.dropdown__grandchild-link{
    display: flex;
    align-items: center;
    width: 100%;
    color: g.$s-color_menu-link_normal;
    font-size: g.$font-size_l;
    line-height: g.$line-height_s;
    text-decoration: none;
    transition: g.$transition_high;
    cursor: pointer;

    &:hover,&:active,&:focus{
        background-color: g.$p-color_opacity_black_005;
    }
}

.dropdown__link{
    height: 100%;
    padding: 0 20px;
    gap: 10px;
}

.dropdown__child-link{
    justify-content: space-between;
    height: 3rem;
    padding: 0 10px 0 20px;
    gap: 10px;
    white-space: nowrap;
}

.dropdown__grandchild-link{
    height: 3rem;
    padding: 0 20px;
    white-space: nowrap;
}

.dropdown__child,.dropdown__grandchild{
    position: absolute;
    background-color: g.$p-color_opacity_white_095;
    box-shadow: g.$elevation_style1;
    opacity: 0;
    visibility: hidden;
    transition: opacity g.$transition_high, visibility g.$transition_high;

    &--active{
        opacity: 1;
        visibility: visible;
    }
}

.dropdown__child{
    top: 100%;
    left: 0;
    min-width: 100%;
}

.dropdown__grandchild{
    top: 0;
    left: 100%;
}

.dropdown__link-icon,.dropdown__child-icon{
    color: g.$s-color_menu-link_normal;
    font-size: g.$font-size_l;
    min-width: 1.0625rem;
}