@use '../global' as g;

/*********************************
    フッター
*********************************/

.footer{
    display: flex;
    justify-content: center;   
    width: 100%;
    background-color: g.$s-color_background_secondary;
}

.footer__inner{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: g.$content_width;
    padding: 40px 20px;
    gap: 40px;
}

.footer__menu{
    display: flex;
    justify-content: space-between;
    gap: 40px;

    @include g.media(sp){
        flex-direction: column;
        justify-content: flex-start;
    }
}

.footer__left-column{
    display: flex;
    align-items: flex-start;
    gap: 20px;

    @include g.media(sp){
        flex-direction: column;
        align-items: stretch;
    }
}


.footer__sns-header{
    display: flex;

    @include g.media(sp){
        justify-content: center;
    }
}

.footer__sns-title{
    font-size: g.$font-size_l;
    line-height: g.$line-height_s;
    font-weight: g.$font-weight_m;
}

.footer__sns-body{
    display: flex;
    gap: 10px;

    @include g.media(sp){
        justify-content: center;
    }
}

.footer__sns-link{
    transition: g.$transition_high;

    &:hover,&:active,&:focus{
        opacity: 0.6;
    }
}

.footer__sns-logo{
    width: 36px;
    min-width: 36px;
    height: 36px;
}

.footer__right-column{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 40px;

    @include g.media(sp){
        align-items: flex-start;
    }
}

.footer__nav{
    display: flex;
}

.footer__nav-list{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 32rem;

    @include g.media(sp){
        justify-content: flex-start;
        max-width: none;
    }
}

.footer__nav-item{
    line-height: g.$line-height_same;

    @include g.media(sp){
        width: calc((100% - 20px) / 2);
        max-width: 12rem;
    }
}

.footer__nav-link{
    color: g.$s-color_menu-link_normal;
    font-size: g.$font-size_s;
    line-height: g.$line-height_s;
    text-decoration: none;
    transition: g.$transition_high;

    &:hover,&:active,&:focus{
        color: g.$s-color_menu-link_hover;
    }
}

.footer__banner{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 10px;

    @include g.media(sp){
        justify-content: flex-start;
    }   
}

.footer__banner-link{
    transition: g.$transition_high;
    
    &:hover,&:active,&:focus{
        opacity: 0.6;
    }
}

.footer__banner-img{
}

.footer__copyright{
    display: flex;
    justify-content: center;
    font-size: g.$font-size_xs;
    line-height: g.$line-height_s;
}
