@use '../global' as g;

/*********************************
    テキスト入力
*********************************/

.form-text{
    width: 100%;
    padding: 5px 10px;
    background-color: g.$p-color_white;
    border: 1px solid  g.$s-color_border_field;
    border-radius: 4px;

    &::placeholder {
        color: g.$s-color_text_place-holder;
    }

    &:focus{
        padding: 4px 9px;
        border: 2px solid g.$s-color_border_focused;
        outline: none;
    }

    &--name{
        max-width: 200px;
    }
}
