// ヘッダー
@forward 'header';

// ドロップダウン
//@forward 'dropdown';

// ドロワー
//@forward 'drawer';

// フッター
@forward 'footer';

// ページトップ
@forward 'pagetop';

// パンくずリスト
//@forward 'breadcrum';

// ページビジュアル
@forward 'page-visual';

// コンテンツ
@forward 'content';

// サイドバー
@forward 'sidebar';

// 見出し
@forward 'heading';

// ボタン
@forward 'button';

// アイコン
@forward 'icon';

// 分類ラベル
@forward 'class-label';

// 注釈
@forward 'annotation-text';

// ディバイダー
@forward 'divider';

// テーブル
@forward 'table';

// リスト
@forward 'list';

// ページャー
//@forward 'pager';

// ポストリスト
@forward 'posts';

// メディア
@forward 'media';

// カード
@forward 'card';

// CTA
@forward 'cta-area';

// 料金表
@forward 'price-box';

// FAQ
@forward 'faq';

// タブ
@forward 'tab';

// アコーディオン
@forward 'accordion';

// モーダル
@forward 'modal';

// ローディング
@forward 'loading';

// スライドショー
@forward 'slideshow';

// テキスト入力
@forward 'form-text';

// テキストエリア
@forward 'form-textarea';

// セレクター
@forward 'form-select';

// ラジオボタン
//@forward 'form-radio';

// チェックボックス
//@forward 'form-checkbox';

// 検索ボックス
@forward 'search-box';
