@use '../global' as g;

/*********************************
    ローディング
*********************************/

.loading{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: g.$p-color_grey_50;
    z-index: g.$z-index_loading;
    opacity: 0;
    visibility: hidden;

    &--active{
        opacity: 1;
        visibility: visible;
    }
}

.loading__inner {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loading__icon {
    font-size: 10px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    animation: load5 1.1s infinite ease;
    transform: translateZ(0);
}

@keyframes load5 {
    0%,
    100% {
        box-shadow: 0em -2.6em 0em 0em g.$p-color_white, 1.8em -1.8em 0 0em rgba(g.$p-color_grey_800, 0.2), 2.5em 0em 0 0em rgba(g.$p-color_grey_800, 0.2), 1.75em 1.75em 0 0em rgba(g.$p-color_grey_800, 0.2), 0em 2.5em 0 0em rgba(g.$p-color_grey_800, 0.2), -1.8em 1.8em 0 0em rgba(g.$p-color_grey_800, 0.2), -2.6em 0em 0 0em rgba(g.$p-color_grey_800, 0.5), -1.8em -1.8em 0 0em rgba(g.$p-color_grey_800, 0.7);
    }
    12.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(g.$p-color_grey_800, 0.7), 1.8em -1.8em 0 0em g.$p-color_white, 2.5em 0em 0 0em rgba(g.$p-color_grey_800, 0.2), 1.75em 1.75em 0 0em rgba(g.$p-color_grey_800, 0.2), 0em 2.5em 0 0em rgba(g.$p-color_grey_800, 0.2), -1.8em 1.8em 0 0em rgba(g.$p-color_grey_800, 0.2), -2.6em 0em 0 0em rgba(g.$p-color_grey_800, 0.2), -1.8em -1.8em 0 0em rgba(g.$p-color_grey_800, 0.5);
    }
    25% {
        box-shadow: 0em -2.6em 0em 0em rgba(g.$p-color_grey_800, 0.5), 1.8em -1.8em 0 0em rgba(g.$p-color_grey_800, 0.7), 2.5em 0em 0 0em g.$p-color_white, 1.75em 1.75em 0 0em rgba(g.$p-color_grey_800, 0.2), 0em 2.5em 0 0em rgba(g.$p-color_grey_800, 0.2), -1.8em 1.8em 0 0em rgba(g.$p-color_grey_800, 0.2), -2.6em 0em 0 0em rgba(g.$p-color_grey_800, 0.2), -1.8em -1.8em 0 0em rgba(g.$p-color_grey_800, 0.2);
    }
    37.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(g.$p-color_grey_800, 0.2), 1.8em -1.8em 0 0em rgba(g.$p-color_grey_800, 0.5), 2.5em 0em 0 0em rgba(g.$p-color_grey_800, 0.7), 1.75em 1.75em 0 0em g.$p-color_white, 0em 2.5em 0 0em rgba(g.$p-color_grey_800, 0.2), -1.8em 1.8em 0 0em rgba(g.$p-color_grey_800, 0.2), -2.6em 0em 0 0em rgba(g.$p-color_grey_800, 0.2), -1.8em -1.8em 0 0em rgba(g.$p-color_grey_800, 0.2);
    }
    50% {
        box-shadow: 0em -2.6em 0em 0em rgba(g.$p-color_grey_800, 0.2), 1.8em -1.8em 0 0em rgba(g.$p-color_grey_800, 0.2), 2.5em 0em 0 0em rgba(g.$p-color_grey_800, 0.5), 1.75em 1.75em 0 0em rgba(g.$p-color_grey_800, 0.7), 0em 2.5em 0 0em g.$p-color_white, -1.8em 1.8em 0 0em rgba(g.$p-color_grey_800, 0.2), -2.6em 0em 0 0em rgba(g.$p-color_grey_800, 0.2), -1.8em -1.8em 0 0em rgba(g.$p-color_grey_800, 0.2);
    }
    62.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(g.$p-color_grey_800, 0.2), 1.8em -1.8em 0 0em rgba(g.$p-color_grey_800, 0.2), 2.5em 0em 0 0em rgba(g.$p-color_grey_800, 0.2), 1.75em 1.75em 0 0em rgba(g.$p-color_grey_800, 0.5), 0em 2.5em 0 0em rgba(g.$p-color_grey_800, 0.7), -1.8em 1.8em 0 0em g.$p-color_white, -2.6em 0em 0 0em rgba(g.$p-color_grey_800, 0.2), -1.8em -1.8em 0 0em rgba(g.$p-color_grey_800, 0.2);
    }
    75% {
        box-shadow: 0em -2.6em 0em 0em rgba(g.$p-color_grey_800, 0.2), 1.8em -1.8em 0 0em rgba(g.$p-color_grey_800, 0.2), 2.5em 0em 0 0em rgba(g.$p-color_grey_800, 0.2), 1.75em 1.75em 0 0em rgba(g.$p-color_grey_800, 0.2), 0em 2.5em 0 0em rgba(g.$p-color_grey_800, 0.5), -1.8em 1.8em 0 0em rgba(g.$p-color_grey_800, 0.7), -2.6em 0em 0 0em g.$p-color_white, -1.8em -1.8em 0 0em rgba(g.$p-color_grey_800, 0.2);
    }
    87.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(g.$p-color_grey_800, 0.2), 1.8em -1.8em 0 0em rgba(g.$p-color_grey_800, 0.2), 2.5em 0em 0 0em rgba(g.$p-color_grey_800, 0.2), 1.75em 1.75em 0 0em rgba(g.$p-color_grey_800, 0.2), 0em 2.5em 0 0em rgba(g.$p-color_grey_800, 0.2), -1.8em 1.8em 0 0em rgba(g.$p-color_grey_800, 0.5), -2.6em 0em 0 0em rgba(g.$p-color_grey_800, 0.7), -1.8em -1.8em 0 0em g.$p-color_white;
    }
}

.loading__progress-bar{
    position: relative;
    width: 100px;
    height: 8px;
    margin-top: 60px;
    border: 1px solid g.$p-color_grey_200;
    border-radius: 100px;
}

.loading__bar{
    display: block;
    width: 0;
    height: 100%;
    background-color: g.$p-color_grey_600;
    border-radius: 100px;
}