@use '../global' as g;

/*********************************
    モーダル
*********************************/

.modal{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity g.$transition_middle, visibility g.$transition_middle;
    z-index: g.$z-index_modal;

    &--active{
        opacity: 1;
        visibility: visible;
    }

    &::backdrop{
        background: g.$p-color_opacity_black_06;
    }
}

.modal__box{
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    width: min(400px, 80%);
    max-height: 80%;
    background-color: g.$p-color_white;
    border-radius: 4px;
    box-shadow: g.$elevation_style1;
    transform: translateY(-50%) translateX(-50%);
}

.modal__box-inner{
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    overflow-y: auto;
}

.modal__header{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modal__body{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modal__footer{
    display: flex;
    justify-content: center;
}

.modal__close{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -10px;
    right: -10px;
    width: 30px;
    height: 30px;
    background-color: g.$p-color_grey_900;
    border-radius: 100px;
    transition: g.$transition_high;

    &:hover,&:active,&:focus{ 
        background-color: g.$p-color_grey_300;
    }
}

.modal__close-icon{
    color: g.$p-color_white;
    font-size: 16px;
}
