@use '../global' as g;

/*********************************
    テーブル
*********************************/

.table{
    &--horizontal{
        .table__header{
            width: 180px;
    
            @include g.media(sp){
                width: auto;
            }  
        }
    }

    &--vertical{
        .table__body-row{
            &:first-child>*{
                border-top: none;
            }
        }
    }
    
    &--cross{
        .table__header-row{
            &:first-child>*:first-child{
                background-color: g.$p-color_white;
                border-top: none;
                border-left: none;
            }
        }

        .table__body-row{
            &:first-child>*{
                border-top: none;
            }
        }
    }

    &--sp-scroll{
        overflow-x: auto;
        
        .table__inner{
            @include g.media(sp){
                min-width: 900px;
            }  
        }

        .table__header,.table__text{
            white-space: nowrap;
        }
    }
}

.table__inner{
    width: 100%;
    background-color: g.$p-color_white;
    border-spacing: 0;
    border-collapse: separate;
}

.table__headers{
}

.table__body{
}

.table__header-row,.table__body-row{
    &:first-child>*{
        border-top: 1px solid g.$s-color_border_field;
    }
}

.table__header{
    padding: 5px 10px;
    border: none;
    border-right: 1px solid g.$s-color_border_field;
    border-bottom: 1px solid g.$s-color_border_field;
    background-color: g.$p-color_grey_50;
    vertical-align:middle;

    &:first-child{
        border-left: 1px solid g.$s-color_border_field;
    }
    
    &--sp-sticky{
        position: sticky;
        left: 0;
        width: 180px;
    }
}

.table__text{
    padding: 5px 10px;
    border: none;
    border-right: 1px solid g.$s-color_border_field;
    border-bottom: 1px solid g.$s-color_border_field;
    vertical-align:middle;

    &:first-child{
        border-left: 1px solid g.$s-color_border_field;
    }
}