@use 'variables' as g;

/*********************************
    テキストスタイル
*********************************/

@mixin text-style($modifer: "body_m") {
    @if $modifer == "heading_first_pc" {
        font-family: g.$font-family_primary;
        font-size: g.$font-size_xxxxxl;
        line-height: g.$line-height_s;
        letter-spacing: g.$letter-spacing_m;
        font-weight: g.$font-weight_m;
    } @else if $modifer == "heading_first_sp" {
        font-family: g.$font-family_primary;
        font-size: g.$font-size_xxxxl;
        line-height: g.$line-height_s;
        letter-spacing: g.$letter-spacing_m;
        font-weight: g.$font-weight_m;
    } @else if $modifer == "heading_second_pc" {
        font-family: g.$font-family_primary;
        font-size: g.$font-size_xxxxl;
        line-height: g.$line-height_s;
        letter-spacing: g.$letter-spacing_m;
        font-weight: g.$font-weight_m;
    } @else if $modifer == "heading_second_sp" {
        font-family: g.$font-family_primary;
        font-size: g.$font-size_xxxl;
        line-height: g.$line-height_s;
        letter-spacing: g.$letter-spacing_m;
        font-weight: g.$font-weight_m;
    } @else if $modifer == "heading_third_pc" {
        font-family: g.$font-family_primary;
        font-size: g.$font-size_xxxl;
        line-height: g.$line-height_s;
        letter-spacing: g.$letter-spacing_m;
        font-weight: g.$font-weight_m;
    } @else if $modifer == "heading_third_sp" {
        font-family: g.$font-family_primary;
        font-size: g.$font-size_xxl;
        line-height: g.$line-height_s;
        letter-spacing: g.$letter-spacing_m;
        font-weight: g.$font-weight_m;
    } @else if $modifer == "heading_fourth_pc" {
        font-family: g.$font-family_primary;
        font-size: g.$font-size_xxl;
        line-height: g.$line-height_s;
        letter-spacing: g.$letter-spacing_m;
        font-weight: g.$font-weight_b;
    } @else if $modifer == "heading_fourth_sp" {
        font-family: g.$font-family_primary;
        font-size: g.$font-size_xl;
        line-height: g.$line-height_s;
        letter-spacing: g.$letter-spacing_m;
        font-weight: g.$font-weight_b;
    } @else if $modifer == "heading_fifth_pc" {
        font-family: g.$font-family_primary;
        font-size: g.$font-size_xl;
        line-height: g.$line-height_s;
        letter-spacing: g.$letter-spacing_m;
        font-weight: g.$font-weight_m;
    } @else if $modifer == "heading_fifth_sp" {
        font-family: g.$font-family_primary;
        font-size: g.$font-size_m;
        line-height: g.$line-height_s;
        letter-spacing: g.$letter-spacing_m;
        font-weight: g.$font-weight_m;
    } @else if $modifer == "body_xl" {
        font-family: g.$font-family_primary;
        font-size: g.$font-size_xl;
        line-height: g.$line-height_m;
        letter-spacing: g.$letter-spacing_m;
        font-weight: g.$font-weight_r;
    } @else if $modifer == "body_l" {
        font-family: g.$font-family_primary;
        font-size: g.$font-size_l;
        line-height: g.$line-height_m;
        letter-spacing: g.$letter-spacing_m;
        font-weight: g.$font-weight_r;
    } @else if $modifer == "body_m" {
        font-family: g.$font-family_primary;
        font-size: g.$font-size_m;
        line-height: g.$line-height_m;
        letter-spacing: g.$letter-spacing_m;
        font-weight: g.$font-weight_r;
    } @else if $modifer == "body_s" {
        font-family: g.$font-family_primary;
        font-size: g.$font-size_s;
        line-height: g.$line-height_m;
        letter-spacing: g.$letter-spacing_m;
        font-weight: g.$font-weight_r;
    } @else if $modifer == "body_xs" {
        font-family: g.$font-family_primary;
        font-size: g.$font-size_xs;
        line-height: g.$line-height_m;
        letter-spacing: g.$letter-spacing_m;
        font-weight: g.$font-weight_r;
    } @else if $modifer == "button_m" {
        font-family: g.$font-family_primary;
        font-size: g.$font-size_l;
        line-height: g.$line-height_s;
        letter-spacing: g.$letter-spacing_m;
        font-weight: g.$font-weight_b;
    } @else if $modifer == "button_s" {
        font-family: g.$font-family_primary;
        font-size: g.$font-size_s;
        line-height: g.$line-height_s;
        letter-spacing: g.$letter-spacing_m;
        font-weight: g.$font-weight_b;
    }
}
